


<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Piano de Jesus Alejandro Colin Vilchis</a>
    
      <a (click)="sound_note(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
      <a (click)="sound_note(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
      <a (click)="sound_note(3)" class="list-group-item list-group-item-action" style="background-color: yellow ;"></a>
      <a (click)="sound_note(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
      <a (click)="sound_note(5)" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
      <a (click)="sound_note(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
      <a (click)="sound_note(7)" class="list-group-item list-group-item-action" style="background-color: violet;"></a>
    </div>
  </div>
</div>

